.main-layout {
  display: flex; /* Disposition en colonnes */
  height: 100%; /* Hauteur de la fenêtre */

  .sidebar-column {
    width: 300px; /* Largeur fixe pour la colonne de gauche */
    border-right: 1px solid #ddd; /* Ligne séparatrice */
    display: flex;
    flex-direction: column; /* Organisation verticale */
    gap: 1rem; /* Espacement entre les éléments */

    .logout-button {
      width: 90%; /* Le bouton occupe toute la largeur */
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      transition: background-color 0.3s;
      margin-left: 5%;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .content-column {
    flex-grow: 1; /* Prend tout l'espace restant */
    padding: 1rem; /* Espacement interne */
    background-color: #fff; /* Couleur de fond blanche */
    overflow-y: auto; /* Ajoute un défilement si nécessaire */
  }
}

h1{
  text-align: center;
  margin-bottom: 1rem;
}